

@font-face {
	font-family: 'Monte';
	src: url('fonts/Montserrat-Regular.eot');
	src: local('☺'), url('fonts/Montserrat-Regular.woff') format('woff'), url('fonts/Montserrat-Regular.ttf') format('truetype'), url('fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;  
}


html{
	font-family: "Monte";
	
}

body {

  font-size: 14px;
  font-family: "Monte", Sans-Serif,"Lucida Console","Lucida Grande", Helvetica, Arial;
}

a {
  color: #00B7FF;
}

.center{
	text-align: center;
}
nav{

	font-size:22px;
	vertical-align: middle;
	display: inline-block;
	white-space: nowrap;
	right:0;
	left:0;
	background-color: #444;
	top:0;
	position:absolute;
	/*width:100%;*/
	color:#ccc;
	height:60px;
	
}



.barra{
	margin:3px;
	text-align: center;
	padding-left:40px;
	padding-right:30px;
	vertical-align: middle;
	line-height: 60px;
}

.logo{
		height:40px;
			vertical-align: middle;

}

.barra2{
	margin:3px;
	text-align: center;
	padding-left:40px;
	padding-right:30px;

	line-height: 60px;

}
.barra:hover{
	color:#05E28E;
}

#doe{
	width:100%;
	border:4px solid #ddd;
}

a{
	text-decoration: none;
	color:inherit;
}

td,th{
	padding:10px;
	border:none;
	text-align: center;
}


.cabecera{
   
    
	background-color:#ddd;
	
}

.fila{
	background-color:  #fafafa;

}
.about{
	margin:20px;
	margin-bottom: 4px;
}

.lang{
	margin:4px;}	

.ab{
	display:inline-block;}

.abcont{
	text-align: center;
	display:inline-block;}

.caja{
	width:60px;
	outline-color: #05E28E;
}

.bloque{
	margin:20px;
}

.rem, .caja{
	margin:5px;
}
#sss {
    font-size: 14px;
  font-family: "Monte","Lucida Console","Lucida Grande", Helvetica, Arial, sans-serif;
  border:none;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  background: #333;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  outline:none;
}

#sss:hover {
  background: #05E28E;
  text-decoration: none;
  outline:none;
}

#mini:hover{
	transform:scale(1.2);  

}

#gris{
	color:#777;
}

::-moz-selection{
   background-color:rgb(7,226,142);

}
::selection{
  
    background-color:rgb(7,226,142);
}

#welcome{
	/*width:150px;*/
}
.ab{
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
}

.all{
text-align: center;
left:0px;
right:8px;
position:absolute; /* to place it somewhere on the screen */
top:60px;
bottom:0px;} /* makes it lock to the bottom */

#myCanvas{
	font-size: 18px;
	font-family: "Monte", Arial, Sans-Serif;
}

.bl{
	border-radius: 0px 0px 0px 15px;
}

.br{
	border-radius: 0px 0px 15px 0px;
}

.tr{
	border-radius: 0px 15px 0px 0px;
}

.tl{
	border-radius: 15px 0px 0px 0px;
}


#welcomeno:hover{
  /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1.2, 1.2); // This is the enlarged size scale of the image.
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
 
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1.2, 1.2);
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-out;
 
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1.20, 1.20);
  -ms-transition-duration: 500ms;
  -ms-transition-timing-function: ease-out;
}

#welcomeno {
  /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1, 1); // This is the scale for the normal size of the image.
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
 
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1, 1);
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-out;
 
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1, 1);
  -ms-transition-duration: 500ms;
  -ms-transition-timing-function: ease-out;
}

@media screen and (max-width: 700px) {
    nav {
	    font-size:12px;
		vertical-align: middle;
		/*display: inline-block;*/
		/*white-space: nowrap;*/
		right:0;
		left:0;
		background-color: #444;
		top:0;
		position:absolute;
		/*width:100%;*/
		color:#ccc;
		height:60px;  
    }
    .barra{
		margin:3px;
		text-align: center;
		padding-left:20px;
		padding-right:10px;
		vertical-align: middle;
		line-height: 60px;
	}
	.logo{
		height: 20px;
	}

}